<div class="container">
    <div class="row py-lg-5 border-bottom">
        <div class="col-lg-6 col-md-8 mx-auto justify-content-center text-center">
            <h2 class="fw-light m-1">Search for housekeepers near you!</h2>
            <input type="text" class="form-control m-1" placeholder="City, State">
            <button type="button" class="btn btn-outline-secondary m-1">Search</button>
        </div>
    </div>


    <!-- hauskeepr cards -->

    <div class="row">
        {{#each hauskeeprs as |hauskeepr|}}

        <div class="col-sm-12 col-md-12 col-lg-4">

            <div class="card border-primary m-2">

                <div class="card-header">{{hauskeepr.profession.profession_name}}</div>
                <div class="card-body text-primary text-center">
                    <h5 class="card-title">{{hauskeepr.first_name}} {{hauskeepr.last_name}}</h5>
                    <h6 class="card-subtitle text-secondary mb-2">Rating: 
                        {{#if rating}} 
                             {{rating}} &#11088;
                        {{else}} Not yet rated
                        {{/if}}
                    </h6>
                    <h6 class="card-subtitle text-secondary mb-2">${{hourly_rate}} /hour</h6>
                    <form name="book-now">
                        <input type="text" value="{{hauskeepr.id}}" class="hauskeeprid">
                        <a href="/booking/{{hauskeepr.id}}" class="edit-link">
                            <button type="button" class="btn btn-primary btn-sm booknowbtn" id="bookbtn">Book Now</button>
                        </a>
                        <button type="button" data-name="{{ hauskeepr.profession.profession_name }}" data-email="{{ hauskeepr.email }}" id="emailbtn" class="btn btn-primary btn-sm">Email Me</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

</div>

<script src="/javascript/emailkeepr.js"></script>
<script src="/javascript/booking.js"></script>